<%= render 'public/sessions/list' %>

<main>
<div class="container pt-5 pb-4">
 <div class="row">
  <div class="col-md-4">
   <h2>このサイトについて</h2>
   <p>長野県にある小さな洋菓子店</p>
   <h3>店舗情報</h3>
   <p>住所</p>
   <p>営業時間</p>
   <p>定休日</p>
   <p>電話番号</p>
　</div>
 </div>
</div>
</main>