<%= render 'admin/sessions/list' %>
<div class="container">
 <div class="row">
  <div class="col-md-2">
　　<div class="p-3 mb-2 bg-light text-dark">会員一覧</div>
　</div>
　</div>


<div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
           <th>会員ID</th>
           <th>氏名</th>
    　　　　　　<th>メールアドレス</th>
    　　　　　　<th>会員ステータス</th>
  　　　　　　　</tr>
  　　　</thead>
   　　<tbody>
      <% @customers.each do |customer| %>
       <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
　 　　 <td><%= customer.email %></td>
　 　　 <td><%#= customer.status %></td>
       </tr>
      <% end %>
      </tbody>
     </table>
    </div>
   </div>
　</div>
