<%= render 'admin/sessions/list' %>
<div class="container">

 <div class="row">
  <div class="col-md-4">
　　<div class="p-3 mb-2 bg-light text-dark">ジャンル編集</div>
　</div>
 </div>

<div class="row">
 <div class="col-md-2">ジャンル名</div>
 <div class="col-md-3">
 <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
  <%= f.text_field :name %>
 </div>
 <div class="col-md-2 mb-5">
  <%= f.submit '変更を更新', class:"btn btn-sm btn-success" %><% end %>
 </div>
</div>

</div>