<%= render 'public/sessions/list' %>
<div class="container pt-5 pb-4">

 <div class="row">
  <div class="col-md-2">
　　<div class="p-3 mb-2 bg-light text-dark">商品一覧</div>
　</div>
 </div>

 <div class="row">
   <% @items.each do |item| %>
   <div class="col-md-3">
    <%= image_tag item.get_image, size: '100x100' %><br>
    <%= link_to item.name, item_path(item.id) %><br>
    ￥<%= item.price %>
   </div>
  <% end %>
 </div>



</div>
